/* impoert main.scss */
@import '../styles/main.scss';

body.light {
  --bg: #fbfbfb;
  --text: #32333c;
}

body.dark {
  --bg: #2b2c2c;
  --text: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
